{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
<script src="{% static 'validate_excel.js' %}"></script>
<h1>Mapping</h1>
<p>Download format <a href="{% static 'mapping_format.xlsx' %}" download>Click here</a></p>
        <form action="{% url "marks:mapping" %}" method="post" enctype="multipart/form-data" onsubmit="return Validate(this);">
            {% csrf_token %}
            <input type="file"
                   title="Upload excel file"
                   name="excel_file"
                   style="border: 1px solid black; padding: 5px;"
                   required="required">
            <p>
            <input type="submit"
                   value="Upload"
                   id = "demo"
                   style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
        </form>

        <p></p>
        <hr>
        <script>
            document.getElementById("demo").addEventListener("click", myFunction);

            function myFunction() {
              document.getElementById("demo2").innerHTML = "Please wait";
            }
          </script>
        <style media="screen">
                    .blink_me {
            animation: blinker 1s linear infinite;
            }

            @keyframes blinker {
            50% {
              opacity: 0;
            }
            }
        </style>

        <p id="demo2" class="blink_me">{{sucess}}</p>
        {% for row in excel_data %}
            {% for cell in row %}
                {{ cell }}&nbsp;&nbsp;
            {% endfor %}
            <br>
        {% endfor %}
{% endblock %}
